body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style: none
}
.header--left{
  display: flex;
  align-items: center
}
.header__app{
  display: flex;
  background: linear-gradient(180deg, #141414 0%, rgba(20, 20, 20, 0.69) 204.06%, rgba(20, 20, 20, 0) 212%);
  align-items: center;


}
.block__inner{
  padding-left: 70px;
  padding-right: 70px;
}
.header__menu{
  display: flex;
}
.menu__item{
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  margin-right: 50px;
}
a{
  
  color: #FFFFFF;
	text-decoration: none;
}
.link--active{
  border-bottom: 1px solid #FFFFFF;
}
.carouselItem{
  display: inline-block;
  min-width:280px;
  height: 160px;
  overflow: hidden;
  border-radius: 3px;
}
.carousel--image{
  min-width: 100%;
  min-height: 100%;
   width: 270px;
   border-radius: 3px;
   object-fit: cover;
}
.BrainhubCarousel{
  transition: .5s;
}
.BrainhubCarousel__arrows{
  height: 160px;
  position: absolute;
  width: 60px;
  z-index: 1;
  opacity: .7; 
  background: linear-gradient(270deg, #141414 24.31%, #141414 44.38%);
}
.BrainhubCarousel__arrowRight:hover{
  background: linear-gradient(90deg, #141414 31.6%, #FF0000 100%);

}
.BrainhubCarousel__arrowLeft{
left: 0;
}
.BrainhubCarousel__arrowLeft:hover{
  background: linear-gradient(270deg, #141414 31.6%, #FF0000 100%);
}
.carouselItem{
  cursor: pointer;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.BrainhubCarousel__arrowRight{
  right: 0;
}
.slider__head{
  cursor: pointer;
  color: #fff;
  position: relative;
  text-align: left;
  font-size: 29px;
  line-height: 43px;  
  border-bottom: 1px solid #fff;
  margin-bottom: 15px;
  transition: .5s
}
.slider__head:hover{
  color: red;
}

body{
  background: #141414;
}
.slider__inner{
  margin-top: 50px;
}

.carousel--title{
  transition: .5s;
  opacity: 0;
  position: absolute;
  bottom: 0;
  background-color: rgba(20, 20, 20, .7);
  width: 100%;
  height: 20%;
  padding-top: 10px;
  color: #FFFFFF;
  text-shadow:  1px 1px 2px black;
}
.carouselItem:hover .carousel--title{
  opacity: 1;

}
.movie--title{
  color: #FFFFFF;
}


/* Стиль постера: начало */
.main-poster{
  /* position: absolute; */
  width: 1920px;
  height: 622px;
  left: 0px;
  background: #141414;
}

/* Полоса затемнения на постере */
.poster-solid-shadow{
  position: absolute;
  width: 315px;
  height: 622px;
  margin-left: 70px;
  background-color: rgba(0, 0, 3, .5);
}

/* Лого фильма на постере */
.poster-logo{
  position: absolute;
  width: 300px;
  margin-left: 80px;
  margin-top: 100px;
}

/* Стиль изоброжения постера */
.image-poster{
  width: 100%;
  width: 1920px;
  height: 622px;
  left: 0px;
  top: 0px;
  background-repeat:  no-repeat;
}

/* Стиль кнопки PLAY */
.button-poster-play{
  position: absolute;
  margin-top: 450px;
  margin-left: 75px;
  width: 130px;
  height: 50px;
  color: Black;
  background-color: rgba(56, 56, 56, .5);
  padding: 8px;
  display: inline-block;
  outline: none;
  text-align: center;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}

.button-poster-play:hover { 
  background-color: red;
  color: white;
}


/* Стиль кнопки Add */
.button-poster-add{
  position: absolute;
  margin-top: 450px;
  margin-left: 220px;
  width: 160px;
  height: 50px;
  color: Black;
  background-color: rgba(15, 15, 15, .8);
  padding: 8px;
  display: inline-block;
  outline: none;
  border: none;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}

.button-poster-add:hover{
  background-color: green;
  color: White;
}

/* Стиль иконки в кнопке */
.Button-poster-img-play{
  margin-top: -1px;
  margin-left: -75px;
}

.Button-poster-img-add{
  margin-top: -1px;
  margin-left: -100px;
}

/* Стиль текста в кнопке "play" */
.button-poster-text-play{
  text-align: center;
  color: white;
  margin-top: -32px;
  margin-left: 30px;
}

/* Стиль текста в кнопке "add" */
.button-poster-text-add{
  font-size: 20px;
  text-align: center;
  color: white;
  margin-top: -30px;
  margin-left: 42px;
}

/* Линия, разделяющая кнопки с описанием */
.poster-line{
  position: absolute;
  margin-top: 510px;
  margin-left: 75px;
}

.poster-text-small{
  position: absolute;
  margin-top: 520px;
  margin-left: 75px;
  width: 303px;
  color: White;
  font-style: italic;
}


/* Стиль постера: конец */

.b-search{
  background-color: #FFFFFF;
  text-decoration-color: #FFFFFF;
  display: none;
}






/* Страница фильма */


/* Постер на странице */
.movie-page-poster {
  position: absolute;
  width: 1920px;
  height: 520px;
  overflow:hidden;
}

/* Постер на странице - картинка */
.movie-page-poster-img {
  position:absolute;
  top: 100%;
  left: 100;
  transform: translate(-50%, -50%);
}

/* Мини-постер на странице */
.movie-page-poster-mini{
  position: absolute;
  width: 298px;
  height: 381px;
  top: -450px;
  border-radius: 10px;
  overflow:hidden;
  max-height: 500px;
}

/* Мини-постер на странице - картинка */
.movie-page-poster-mini-img{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

/* Выравнивание картинки по центру мини-постера */


/* Затемнение картинки основного постера */
.movie-page-poster-solid-shadow{
  position: absolute;
  width: 1920px;
  height: 520px;
  top: -520px;
  margin-left: -210px;
  background-color: rgba(0, 0, 3, .5);
}

/* Основной блок страницы */
.movie-page-main{
  position: absolute;
  background-color: #282828;
  width: 1500px;
  height: 1600px;
  left: 209px;
  top: 580px;
}

/* Блок для навзание, а так же для кнопок */
.movie-page-boxname{
  position: absolute;
  width: 1926px;
  height: 60px;
  left: -209px;
  top: -60px;
  background: rgba(0, 0, 0, 0.67);
}

/* Название */
.movie--title{
  font-size: 35px;
}

/* Кнопка "Play" */
.movie-page-play{
  position: absolute;
  margin-top: 5px;
  margin-left: -755px;
  width: 130px;
  height: 50px;
  color: Black;
  background-color: rgba(56, 56, 56, .5);
  padding: 8px;
  display: inline-block;
  outline: none;
  text-align: center;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}

/* Кнопка "Play": при наведении мышью */
.movie-page-play:hover{
  background-color: red;
  color: white;
}

/* Кнопка "Add" */
.movie-page-add{
  position: absolute;
  margin-top: 5px;
  margin-left: -615px;
  width: 160px;
  height: 50px;
  color: Black;
  background-color: rgba(15, 15, 15, .8);
  padding: 8px;
  display: inline-block;
  outline: none;
  border: none;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}

/* Кнопка "Add": при наведении мышью */
.movie-page-add:hover{
  background-color: green;
  color: White;
}

/* Блок и информацией о фильме */
.movie-page-info{
  text-align: left;
}

/* Информация о фильме (Оригинальное название и др) */
.movie--info{
  margin-left: 25px;
  margin-top: 25px;
}

/* Основной текст */
.movie--info--text{
  color: black;
  display: block;
  margin-top: -15px;
}

/* Второй текст */
.movie--info--text-2{
  display: inline;
  color: white;
}

/* Описание фильма */
.movie--description{
  display: block;
  height: 300px;
  width: 1500px;
  background-color: gray;
}

/* Слово "Описание" */
.movie--description-name{
  background-color: #141414;
  color: white;
  text-align: center;
}

/* Текст описания */
.movie--description-next{
  margin-left: 25px;
  font-size: 24px;
  width: 1440px;
}

/* Слайдер */
.movie-slider{
  width: 1500px;
  height: 500px;

}

/*  */
.movie-slider-img{
  width: 1500px;
}

