body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style: none
}
.header__app{
  display: flex;
  background: linear-gradient(180deg, #141414 0%, rgba(20, 20, 20, 0.69) 204.06%, rgba(20, 20, 20, 0) 212%);

}
.header__menu{
  display: flex;
}
.menu__item{
  font-size: 18px;
line-height: 28px;
color: #FFFFFF;
  margin-right: 50px;
}
a{
  
  color: #FFFFFF;
	text-decoration: none;
}
.link--active{
  border-bottom: 1px solid #FFFFFF;
}
