body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style: none
}
.header--left{
  display: flex;
  align-items: center
}
.header__app{
  display: flex;
  background: linear-gradient(180deg, #141414 0%, rgba(20, 20, 20, 0.69) 204.06%, rgba(20, 20, 20, 0) 212%);
  align-items: center;


}
.block__inner{
  padding-left: 70px;
padding-right: 70px;
}
.header__menu{
  display: flex;
}
.menu__item{
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  margin-right: 50px;
}
a{
  
  color: #FFFFFF;
	text-decoration: none;
}
.link--active{
  border-bottom: 1px solid #FFFFFF;
}
.carouselItem{
  display: inline-block;
  min-width:280px;
  height: 160px;
  overflow: hidden;
  border-radius: 3px;
}
.carousel--image{
  min-width: 100%;
  min-height: 100%;
   width: 270px;
   border-radius: 3px;
   object-fit: cover;
}
.BrainhubCarousel{
  transition: .5s;
}
.BrainhubCarousel__arrows{
  height: 160px;
  position: absolute;
  width: 60px;
  z-index: 1;
  opacity: .7; 
  background: linear-gradient(270deg, #141414 24.31%, #141414 44.38%);
}
.BrainhubCarousel__arrowRight:hover{
  background: linear-gradient(90deg, #141414 31.6%, #FF0000 100%);

}
.BrainhubCarousel__arrowLeft{
left: 0;
}
.BrainhubCarousel__arrowLeft:hover{
  background: linear-gradient(270deg, #141414 31.6%, #FF0000 100%);
}
.carouselItem{
  cursor: pointer;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.BrainhubCarousel__arrowRight{
  right: 0;
}
.slider__head{
  cursor: pointer;
  color: #fff;
  position: relative;
  text-align: left;
  font-size: 29px;
  line-height: 43px;  
  border-bottom: 1px solid #fff;
  margin-bottom: 15px;
  transition: .5s
}
.slider__head:hover{
  color: red;
}

body{
  background: #141414;
}
.slider__inner{
  margin-top: 50px;
}

.carousel--title{
  transition: .5s;
  opacity: 0;
  position: absolute;
  bottom: 0;
  background-color: rgba(20, 20, 20, .7);
  width: 100%;
  height: 20%;
  padding-top: 10px;
  color: #FFFFFF;
  text-shadow:  1px 1px 2px black;
}
.carouselItem:hover .carousel--title{
  opacity: 1;

}
.movie--title{
  color: #FFFFFF;
}

.main-poster{
  /* position: absolute; */
  background: #141414;
}

.image-poster{
  width: 100%;

  height: auto;
  background-repeat:  no-repeat;
}
.b-search{
  background-color: #FFFFFF;
  display: none;
}